{% extends 'base.html' %}

{% block title %}
    Profile
{% endblock%}

{% block body %}
    <div class="col-md-8 offset-md-1">
        <h1>About SEWAA</h1>
        <hr>
        <p>
            Bisnis SEWAA berperan untuk menyediakan jasa persewaan sebagai platform yang mempertemukan antara penyewa dengan pemilik barang. Bisnis ini akan memanfaatan teknologi informasi yang marak digunakan di era saat ini. SEWAA akan hadir sebagai aplikasi berbasis website yang bisa diakses oleh siapapun, kapapun, dan dimanapun. Sehingga nantinya diharapkan akan memudahkan penyewa untuk mendapatkan informasi persewaan di lokasi yang sesuai. Pemilik barang dapat melakukan input data barang yang ingin disewakan. 
        </p>
        <p>
            Barang-barang yang dapat disewakan di SEWAA berupa peralatan outdoor (tenda dome, tas carrier, ransel, matras, sleeping bag, lighting equipment, cooking equipment), dan kamera. Data yang diinput akan disertai dengan informasi lokasi dan kontak pemilik barang, kondisi barang, serta harga sewa barang. Kemudian penyewa dapat mengakses aplikasi SEWAA dan memilih barang yang ingin disewa sesuai dengan kebutuhannya.
        </p>
    </div>
    
{% endblock %}
